{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
              <div class="col-sm-6">
                  <h1>Hi</br>Py</h1>
              </div>
              <div class="col-sm-6 right">
                  <a href="https://facebook.com/hipyliv" target="_blank"><i class="fa fa-facebook-square fa-5x sm-icon" aria-hidden="true"></i></a>
                  <a href="https://twitter.com/hipyliv" target="_blank"><i class="fa fa-twitter-square fa-5x sm-icon" aria-hidden="true"></i></a>
                  <a href="https://github.com/hipyliv" target="_blank"><i class="fa fa-github-square fa-5x sm-icon" aria-hidden="true"></i></a>
                  </br>
                  <h2>Wed 10 Aug</h2>
                  <h3>CTL G-Flex (Ground Floor)</h3>
                  <h3>3 - 6 pm</h3>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}
