body {
    background-color: orange;
}

.jumbotron {
    background-color: orange;
    color: #fff;
}

.jumbotron h1 {
    text-align: left;
    font-size: 15em;
    line-height: 0.8em;
    font-weight: 300;
    margin-bottom:40px;
}

.jumbotron a {
    color: #fff
}

.jumbotron a:hover {
    color: #ffdd9e
}

.right {
    text-align: right
}

.sm-icon {
    margin: 5px;
}


.btn-outline {
    background: none;
    padding: 12px 22px;
}
